<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImageProcessing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ImageProcessing.Properties.Settings>
            <setting name="LastSelectedPathEnter" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSelectedPathOut" serializeAs="String">
                <value />
            </setting>
            <setting name="WatermarkFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ThreadCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RedactorName" serializeAs="String">
                <value />
            </setting>
        </ImageProcessing.Properties.Settings>
    </userSettings>
</configuration>